<div class="sidebar">
    <div class="sidebar-header">
        {% if app.user %}
            <p>Bienvenue, {{ app.user.nom }}</p>
            <a  class="btn {% if 'ROLE_ADMIN' in app.user.roles %}btn-warning{% else %}btn-primary{% endif %}">
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    Admin
                {% else %}
                    Profil
                {% endif %}
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
        {% endif %}
    </div>

    <div class="sidebar-content">
        <ul>
            {% for matiere in get_matieres() %}
                <li>
                    <a href="{{ path('matiere_show', { id: matiere.id }) }}">
                        {{ matiere.nom }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if app.user %}
        <form method="POST" action="{{ path('app_logout') }}">
            <button type="submit" class="btn btn-danger">Déconnexion</button>
        </form>
    {% endif %}
</div>
