{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}
    <h1>Exercice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercice.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ exercice.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ exercice.contenu }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ exercice.type }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ exercice.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_index') }}">back to list</a>

    <a href="{{ path('app_exercice_edit', {'id': exercice.id}) }}">edit</a>

    {{ include('exercice/_delete_form.html.twig') }}
{% endblock %}
